
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
	font-family: "Avenir Next Bold", "Avenir Light", "Avenir Light Oblique";
	
    color: #000000;
	background-color: #8989898;
}


.resume-header {
    background-color: #af9ac9;
}

.resume-main {
	background-color: #fffefc;
	text-align: justify;
}

.resume-aside {
	background-color: #ffffff;
}


.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
.biography-details li::before {
	color: #EDE1e8;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}


.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.language-level {
    border: 4px solid #af9ac9; 
    border-color: #000000 !important;
    border-radius: 20px; 
}
.language-level .language-progress {
	background-color: #af9ac9 !important;
	border-radius: 23px; 
}
html, body {
  margin: 5;
  height: 100%;
}

.center-line {
  width: 3px; 
  height: 388%;
  background-color: #000000; 
  position: absolute;
  left: 71%; 
  transform: translateX(-50%);
} 

.left-line {
  width: 100%; 
  height: 2px; 
  background-color: black; 
  margin-left: 0px;
}

.text-content {
  margin-left: 25px; 
margin-right: 45px
}

.more-right {
  margin-left: 25px; 
}

